<div class="sidenav-body-container">
  <div
    class="sidenav-body"
    [class.slide-in-from-left]="sidenavService.isSlidingInFromTheLeft"
    [class.slide-in-from-right]="sidenavService.isSlidingInFromTheRight"
  >
    <ng-template sidenavContentArea></ng-template>
  </div>
  <div
    class="resize-handle"
    (mousedown)="startResizing($event)"
    [class.resizing]="resizingEvent.isResizing"
  >
  </div>
  <button
    class="toggle-button"
    (click)="this.sidenavService.toggleSidenav()"
    [class.is-flipped]="sidenavService.isExpanded"
  >
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </button>
</div>
