<div style="padding: 1rem">
  <h1>Sidenav</h1>
  <app-sidenav-link routerLink="/home">
    <span icon><fa-icon [icon]="faHouse"></fa-icon></span>
    <span>Home</span>
  </app-sidenav-link>
  <app-sidenav-link routerLink="/profile">
    <span icon><fa-icon [icon]="faUserCircle"></fa-icon></span>
    <span>Profile</span>
  </app-sidenav-link>
  <app-sidenav-link routerLink="/screen1">
    <span icon><fa-icon [icon]="faDesktop"></fa-icon></span>
    <span>Screen1</span>
  </app-sidenav-link>
  <app-sidenav-link routerLink="/screen2">
    <span icon><fa-icon [icon]="faDesktop"></fa-icon></span>
    <span>Screen2</span>
  </app-sidenav-link>
  <app-sidenav-link routerLink="/setting">
    <span icon><fa-icon [icon]="faCog"></fa-icon></span>
    <span>Setting</span>
  </app-sidenav-link>
</div>
